gunicorn>=20.0.0
plotly==5.1.0
pandas==1.3.0
numpy==1.21.0
dash~=1.20.0
dash-bootstrap-components~=0.12.0
tld~=0.12.4
requests~=2.25.1
beautifulsoup4~=4.9.3
tqdm==4.61.2
langcodes==3.1.0
country-converter~=0.7.1
python-igraph==0.9.6
newspaper3k~=0.2.8
urllib3~=1.26.2 # Needed for https://github.com/psf/requests/issues/5744
frictionless==4.12.4
