gunicorn>=20.0.0
plotly~=4.14.1
pandas~=1.2.0
numpy~=1.20.0
dash~=1.19.0
dash-bootstrap-components~=0.11.1
tld~=0.12.4
requests~=2.25.1
beautifulsoup4~=4.9.3
tqdm~=4.57.0
langcodes~=3.0.0
country-converter~=0.7.1
python-igraph~=0.8.3
newspaper3k~=0.2.8
urllib3~=1.26.2 # Needed for https://github.com/psf/requests/issues/5744
frictionless~=4.0.2
