@font-face {
    font-family: 'Datalegreya-Thin';
    src: url('/assets/fonts/Datalegreya-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Datalegreya-Gradient';
    src: url('/assets/fonts/Datalegreya-Gradient.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Datalegreya-Dot';
    src: url('/assets/fonts/Datalegreya-Dot.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-feature-settings: "kern" on, "liga" on, "calt" on;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* General */
html {
    overflow: hidden;
}

.full-height {
    height: 100vh;
    scroll-snap-align: start;
}

.navbar {
    scroll-snap-align: start;
}

.navbar-brand {
    font-family: Datalegreya-Gradient, sans-serif;
    font-size: 400%;
}

.empty-row {
    height: 2rem;
}

.custom-container {
    padding-left: 5%;
    padding-right: 5%;
}

/* Visualization */

#col-db-table .table-responsive {
    height: 100vh;
    overflow-y: scroll;
}

#col-db-table th {
    position: sticky;
    top: 0;
    background-color: white; /* set bg to fully opaque color, so that entries are hidden underneath when scrolling */
}

#col-db-table .badge {
    font-size: 100%
}

/* Analysis */
